/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}

body {
  background: url('https://i.pinimg.com/originals/5f/e0/89/5fe0896b371bdcb580cc02126745df3b.jpg');
  min-height: 100vh;
}

header, main {
  padding: 20px;
}

header {
  background: white;
  width: 60%;
  margin: 3vh auto 0;
}

h1, h2 {
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 36px;
  padding: 40px;
}

h2 {
  font-size: 28px;
  margin: 20px;
}

.status-container,
.content-container {
  display: none;
  text-align: center;
}

.logo,
.img {
  font-size: 20px;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
}

.logo {
  width: 85%;
}

.img {
  max-width: 360px;
  max-height: 350px;
}

.status-label {
  font-weight: bold;
}

fieldset {
  text-align: left;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.content-wrapper {
  height: 500px;
  background: white;
  padding-top: 24px;
  width: 60%;
  margin: 0 auto;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  border-radius: 100%;
  border: 5px solid #ffffff;
  transition: 0.2s all;
  margin: 0 10px 5px 0;
  width: 20px;
  height: 20px;
}
input:checked {
  border: 8px solid #fca236;
}

.option-wrapper {
  padding: 20px;
  border: 1px solid darkgray;
  margin: 5px auto;
  display: block;
  width: 85%;
  color: #fff;
  background: #555/*#dfecec*/;
}

.option-wrapper:hover,
.option-wrapper:active,
.option-wrapper:focus {
  transition: 500ms all;
  background: #00bcd4;
}

.status-container {
  margin: 0 auto 20px;
  padding: 20px 3vw;
  text-align: center;
  min-height: 70px;
  background: aliceblue;
  width: 50%;
}

li {
  margin: 5px 15px;
}

.status-container li {
  display: inline-block;
  margin: 5px 15px;
}

button {
  border: none;
  background: #d9c3a3; /*#dfecec;*/
  display: block;
  margin: 20px auto;
  width: 60%;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: 500ms all;
}

button:hover,
button:active,
button:focus {
  background: #fca236;
  border: none;
}

@media screen and (min-height: 1300px) {
  body {
    padding-top: 12vh;
  } 
}

@media screen and (max-width: 650px) {
  header {
    width: 80%;
  }
  .status-container {
    width: 80%;
  }
  .status-container li {
    display: block;
  } 
  .content-wrapper {
    height: 520px;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  header,
  .logo,
  .status-container,
  .option-wrapper {
    width: 100%;
  }
  .img {
    max-width: 380px;
  }
  button {
    width: 100%;
  }
 }

 @media screen and (max-width: 350px) {
  .img {
    max-width: 280px;
    max-height: 300px;
  }
 }